body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#etch_container {
    margin-right: 300px;
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(16, auto);
    background-color: pink;
}
.box {
    background-color: pink;
    outline-style: solid;
}
.main1 {
    display: flex;
    flex-grow: 1;

    
}
.right1 {
    display: flex;
    justify-content: center;  
}
.left1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.slidecontainer {
    background-color: pink;
    height: 350px;
    width: 300px;
    justify-content:flex-start;
    align-items: space-between;
}



header {
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: darkblue;
    font-size: 100px;
}
footer {
    display: flex;
    flex-grow: .2;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
